/* === Global styles === */
#translation-panel img {
  border-radius: 0;
}

#translation-panel div, #translation-panel p{
  font-family: 'Microsoft YaHei', 'Arial', 'sans-serif';
}

#translation-panel p{
  margin: 0;
}

#translation-panel :is(h1, h2, h3, h4, h5, h6) {
  color: indigo
}
.tr-active{
  font-weight: bold;
}

.tr-hide{
  display: none !important;
  height: 0 !important;
}

.tr-sticky{
  position: sticky;
  top: 0;
  background-color: aliceblue;
}

.tr-centerAlign{
  margin: auto;
  text-align: center;
}

.zero-width{
  width: 0px;
}

.tr-no-border, .tr-no-border::before{
  border: none !important;
}

#translation-panel a, #translation-panel a:hover, #translation-panel a:visited{
  color: indigo;
}

.div-btn{
  transition: all .3s ease;
}

.div-btn:hover{
  transform: scale(1.1);
}

.div-btn:active{
  opacity: 85%;
}

@keyframes rotateAndScale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(-30deg) scale(1.1);
  }
  50% {
    transform: rotate(0deg) scale(.9);
  }
  75% {
    transform: rotate(30deg) scale(1.1);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

/* ========= */

/* ### Main styles ### */

#translation-panel{
  position: fixed;
  top: 6px;
  right: 6px;
  padding: 16px calc(1rem + 16px);
  color: indigo;
  background-color: rgb(240, 248, 255);
  border-radius: 10px;
  border-top-left-radius: 0;
  z-index: 9999;
  min-width: max(300px, 24vw);
  width: min-content;
  max-width: max(30vw, min(300px, 100vw));
  outline:none;
  font-family: 'Microsoft YaHei', 'Arial', 'sans-serif';
  font-size: 16px;
}

#translation-panel h3{
 
  display: flex;
  flex-wrap: wrap;
  font-size: 1.25em;
  font-weight: normal;
  line-height: 1.15;
  margin: 0;
  margin-bottom: 4px;
  gap: 6px;
  padding: 0 0 2px 0;
}

.translate-noresults{
  margin-bottom: 0.5em;
  width: 30%;
}

#translation-panel .tr-HSK-Lvl{
  height: 0px;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: -4px;
}

.translate-selectedText{
  margin: 0 auto;
  margin-bottom: 0.5em;
  padding: 4px 1em;
  width: fit-content;
  max-width: 28vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: ghostwhite;
  border: 1px solid gainsboro;
  border-radius: 4px;
}

.translate-panel-nav-wrapper{
  position: absolute;
  top: 0;
  left: -.75em;
  padding: 16px 2px;
  padding-left: 4px;
  background-color: rgb(240, 248, 255);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* border-right: 1px dashed rgba(0,0,0,.1); */
  transition: width .3s ease, height .3s ease;
  font-size: 1.2em;
}

.translate-panel-nav-wrapper p{
  line-height: 1;
}

.translate-panel-nav-wrapper:hover p{
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}

.translate-panel-nav{
  width: 0;
  height: 0;
  opacity: 0;
}

.translate-panel-nav-wrapper:hover .translate-panel-nav{
  padding: 0 8px;
  opacity: 100%;
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: .5em;
  flex-direction: column;
  line-height: 1;
}

.translate-panel-nav > *{
  cursor: pointer;
  padding: 0;
  margin-top: 3px;
}

.translate-panel-control{
  top: 1em;
  right: 1em;
  gap: .2em;
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tr-close-btn{
  cursor: pointer;
  font-size: 1.25em;
  line-height: 1;
  height: .8em;
}

.tr-resize-control{
  display: flex;
  flex-direction: column;
}

#tr-size-increase-btn, #tr-size-decrease-btn{
  cursor: pointer;
  font-size: 1.25em;
  transition: all .3s ease;
  line-height: 1;
}

#tr-size-increase-btn:hover{
  opacity: .8;
  transform: scale(1.1);
}

#tr-size-decrease-btn:hover{
  opacity: .8;
  transform: scale(.9);
}

#tr-bank-controls{
  margin: 0;
  padding: 0;
}

#tr-bank-controls::before{
  content: "";
  border-top: 1px dashed rgba(0,0,0, .5);
  display: block;
  padding-top: 8px;
}

.tr-bank{
  width: 1.1em;
  filter: brightness(0) saturate(100%) invert(21%) sepia(40%) saturate(4988%) hue-rotate(265deg) brightness(61%) contrast(129%);
  margin-left: 4px;
  display: block;
  padding: 0;
  margin: 0;
  margin-left: 2px;
}

.tr-bank-delete-confirm{
  animation: rotateAndScale 1.5s infinite;
  animation-timing-function: ease-in;
  filter: brightness(0) saturate(100%) invert(10%) sepia(98%) saturate(4445%) hue-rotate(287deg) brightness(75%) contrast(112%);
}

#tr-show-bank{
  width: 1.3em;
  margin: 0;
}

.translate-results, .translate-compounds-container{
  margin: auto;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
}

.translate-compounds-container{
  gap: 1rem;
  margin-bottom: 8px;
  max-height: 30vh;
}

.translate-results > *, .translate-compounds-container > *{
  /* border: 1px solid; */
  flex: 1 1 100vh; /* Start with 60vh, grow and shrink */
  max-height: min-content; /* Prevent children from growing beyond their content */
  overflow: auto;
  width: 100%;
}

.translate-header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: transparent;
  border: none;
  gap: 8px;
  margin-bottom: 0;
  font-size: 1em;
}

.translate-header > *{
  text-align: center;
}

.translate-header > span{
  grid-row: 1/2;
  grid-column: 1/3;
  font-size: 1em;
  line-height: 1;
  margin-bottom: 2px
}

.translation-definitions{
  flex-shrink: 1.1; /*make this shrink a little faster*/
  font-size: 1em;
  margin-bottom: 8px;
  padding-bottom: 1px; /* to stop scrollbar from appearing when not needed */
  max-height: min-content;
  overflow: auto;
}

#translation-panel ul{
  font-size: 1em;
  margin: 0;
  padding: 0;
  padding-left: .25em;
}

#translation-panel ul li{
  list-style: disc inside;
  line-height: 1.25;
}

/* Styling for the first row */
.translate-header > small {
  font-size: .6em;
  color: gray;
  line-height: 1;
}

/* Styling for the second row */
#trans-simp-char, #trans-trad-char {
  background-color: ghostwhite;
  font-weight: bold;
  margin: 0 -8px;
  padding: 4px 16px;
  border-radius: 8px;
  font-size: 1.65em;
}

#trans-trad-char{
  border-right: none;
}

#trans-simp-char{
  border-left: none;
}

.translate-results li{
  list-style: decimal;
}

.translate-pinyin{
  margin: auto;
}

.tr-nav-disabled{
  opacity: 20%;
}

.trans-control{
  width: fit-content;
  font-size: .7em;
  display: flex;
  gap: 4px;
  align-items: center;
}

.trans-control .trans-control-navigate:hover{
  cursor: pointer;
}

.translate-no-compounds{
  color: rgba(0,0,0,.35);
  margin: auto;
  text-overflow: ellipsis;
}

.translate-comp-entry-container{
  display: flex;
  gap: 4px;
  padding-right: 2px;
  flex-wrap: wrap;
  overflow-y: auto;
}

.translate-comp-entry-container::-webkit-scrollbar,
.translation-definitions::-webkit-scrollbar, 
.translation-explore::-webkit-scrollbar,
.translate-compounds::-webkit-scrollbar {
  width: 8px;
}

.translate-comp-entry-container::-webkit-scrollbar:hover, 
.translation-definitions::-webkit-scrollbar:hover, 
.translation-explore::-webkit-scrollbar:hover,
.translate-compounds::-webkit-scrollbar:hover
{
  cursor: pointer;
}

.translate-comp-entry-container::-webkit-scrollbar-thumb, 
.translation-definitions::-webkit-scrollbar-thumb, 
.translation-explore::-webkit-scrollbar-thumb,
.translate-compounds::-webkit-scrollbar-thumb
{
background: rgb(192,192,192);
border-radius: 4px;
opacity: 85%;
}

.translate-comp-entry-container::-webkit-scrollbar-track, 
.translation-definitions::-webkit-scrollbar-track, 
.translation-explore::-webkit-scrollbar-track,
.translate-compounds::-webkit-scrollbar-track
{
border-radius: 10px;
background: rgb(232,232,232);
opacity: 85%;
}

.translate-comp-definitions{
  display: none;
  position: absolute;
  right: 0;
  background-color: aliceblue;
  border: 1px solid rgba(180,185,192, .7);
  color: #414;
  border-radius: 5px;
  padding: 8px;
  margin-top: 8px;
  text-wrap: pretty;
  list-style-type: circle;
  list-style-position: inside;
}

.translate-comp:hover .translate-comp-definitions{
  display: block;
  z-index: 99;
}

.translate-comp div{
  font-size: 1em;
  text-align: center;
  background-color: ghostwhite;
  border: 1px solid #cc99cccc;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

.translate-comp div.translate-propernoun{
  border: 1px dashed  royalblue;
  background: aliceblue;
  color: navy;
}

.translate-comp div.compound-isHSK{
  border-radius: 12px;
  border-color: mediumpurple;
}


.translate-comp:hover{
  background-color: #eef;
}
/* Explore bar */
.translation-explore-panels{ 
  display: flex;
  justify-content: center;
  height: 100%;
}
.translation-explore-controls{
  display: flex;
  gap: 6px;
  padding-bottom: 2px;
  border-bottom: 1px solid silver;
  margin-bottom: 4px;
}

.translation-explore-controls button{
  background-color: transparent;
  border: none;
  background-image: none;
  margin-bottom: 2px; 
  outline: none;
  color: indigo;
  font-size: 1em;
  line-height: 1.15;
}

.translation-explore-controls button:nth-child(2){
  padding-left: 6px;
  border-left: 1px solid silver;
  margin: 4px 0;
  line-height: 0;
}

/* Stroke order*/
.translate-stroke-order{
  border-radius: 4px !important;
  height: auto;
  width: 100%;
  max-width: 180px;
  max-height: 180px;
}

/* Example sentences */ 
.translate-sentences{
  width: 100%;
}

.translate-sentences .sentences-body{
  overflow-x: hidden;
}
.translate-sentences .sentences-block{
  display: flex;
  flex-direction: column;
  border-bottom: 1px dashed silver;
}

.translate-sentences .sentences-block:not(:last-child){
  margin-bottom: .5em;
}

.translate-sentences .sentences-pinyin{
  font-size: 1em;
  text-align: center;
}

.translate-sentences .sentences-words{
  font-size: 1.15em;
  text-align: center;
}

.translate-sentences .sentences-line{
  line-height: 1.25;
  display: flex;
  gap: 3px;
  padding-right: 4px;
  padding-bottom: 0.25rem;
  flex-wrap: wrap;
}

.translate-sentences .sentences-english-tr{
  font-size: 1em;
  font-style: italic;
  font-family: Arial, sans-serif;
  margin-bottom: 2px;
}

.translate-sentences .sentences-footer{
  position: sticky;
  bottom: 0;
  background-color: aliceblue;
}
.translate-sentences .sentences-more{
  font-size: 1em;
  color: indigo;
}

.sentences-control{
  line-height: 1.15;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.sentences-control > div{
  display: flex;
  gap: 4px;
  align-items: center;
}
.sentences-control label{
  font-size: .7em;
  margin: 0;
  font-weight: normal;
}

.sentences-control input{
  margin: 0;
}
.sentences-no-results{
  color: rgba(0,0,0,.35);
}


/* --- Resizing styles --- */
#translation-panel.translation-panel-expand,
#translation-panel.translation-panel-expand-2 
{
  padding: 16px 16px 8px 16px; 
}
.translation-panel-expand .translate-results, 
.translation-panel-expand-2 .translate-results{
  display: grid;
  gap: 0 1rem;
  grid-template-areas: "definitions-header compounds" 
                       "definitions compounds"
                       "explore-controls compounds"
                       "explore compounds";
  grid-template-columns: repeat(2, minmax(auto, 320px));
  grid-template-rows: auto auto auto 1fr;
}

.translation-panel-expand.translate-results:has(.translate-no-compounds),
.translation-panel-expand-2.translate-results:has(.translate-no-compounds){
  grid-template-columns: 1fr min-content;

}

#translation-panel.translation-panel-expand{
  max-width: max(45vw, min(400px, 100vw));
  font-size: 20px;
  width: fit-content;
}

.translation-panel-expand .header-definitions, 
.translation-panel-expand-2 .header-definitions{
  margin: 0;
  padding: 0;
  grid-area: definitions-header;
}
.translation-panel-expand .translation-definitions, 
.translation-panel-expand-2 .translation-definitions{
  grid-area: definitions;
  max-height: 33vh;;
}

.translation-panel-expand .translation-explore-controls,
.translation-panel-expand-2 .translation-explore-controls{
  grid-area: explore-controls
}

.translation-panel-expand .translation-explore, 
.translation-panel-expand-2 .translation-explore{
  grid-area: explore;
  max-height: none;;
}

.translation-panel-expand .translate-compounds-container, 
.translation-panel-expand-2 .translate-compounds-container{
  grid-area: compounds;
  max-height: 78vh;
  height: 100%;
}
/* 
.translation-panel-expand .translate-compounds, 
.translation-panel-expand-2 .translate-compounds{
  flex: none;
} */

#translation-panel.translation-panel-expand-2 .tr-reduced-size-5{
  font-size: 1.5em;
}

#translation-panel.translation-panel-expand-2 .tr-reduced-size-6{
  font-size: 1.2em;
}

#translation-panel.translation-panel-expand-2 .tr-reduced-size-max{
  font-size: 1em;
}

#translation-panel.translation-panel-expand h3{
  padding-bottom: 4px;
}

#translation-panel.translation-panel-expand .translate-comp{
  margin: 2px 0;
}

#translation-panel.translation-panel-expand .translate-stroke-order{
  max-height: max(216px, 100%);
  max-width: max(216px, 100%);
}

#translation-panel.translation-panel-expand .translate-sentences .sentences-line{
  gap: 4px;
}

#translation-panel.translation-panel-expand .translate-selectedText{
  max-width: 34vw;
}

/* Even biggerr */
#translation-panel.translation-panel-expand-2{
  max-width: max(60vw, min(500px, 100vw));
  font-size: 24px;
  width: fit-content;
}

#translation-panel.translation-panel-expand-2 .translate-stroke-order  {
  max-height: max(256px, 100%);
  max-width: max(256px, 100%);
}

/* Resize edge cases */
.translate-results:has(.translate-noresults):has(.translate-compounds-container) {
  grid-template-columns: 120px 1fr;
}
/* ------- */ 