/* === Global styles === */
#translation-panel p{
  margin: 0;
}

#translation-panel :is(h1, h2, h3, h4, h5, h6) {
  color: indigo
}
.tr-active{
  font-weight: bold;
}

.tr-hide{
  display: none !important;
}

.tr-centerAlign{
  margin: auto;
  text-align: center;
}

.zero-width{
  width: 0px;
}

.tr-no-border, .tr-no-border::before{
  border: none !important;
}

.tr-maxheight-45vh{
  max-height: 45vh;
}

#translation-panel a, #translation-panel a:hover, #translation-panel a:visited{
  color: indigo;
}

.div-btn{
  transition: all .3s ease;
}

.div-btn:hover{
  transform: scale(1.1);
}

.div-btn:active{
  opacity: 85%;
}

@keyframes rotateAndScale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(-30deg) scale(1.1);
  }
  50% {
    transform: rotate(0deg) scale(.9);
  }
  75% {
    transform: rotate(30deg) scale(1.1);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

/* ========= */

/* ### Main styles ### */

#translation-panel{
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 16px calc(1rem + 20px);
  color: indigo;
  background-color: rgb(240, 248, 255);
  border-radius: 10px;
  border-top-left-radius: 0;
  z-index: 9999;
  min-width: max(300px, 24vw);
  width: min-content;
  max-width: 30vw;
  outline:none;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

#translation-panel h3{
  font-size: 1.25em;
  font-weight: normal;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
}

.translate-noresults{
  margin-bottom: 1em;
}

#translation-panel .tr-HSK-Lvl{
  height: 0px;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: -4px;
}

.translate-selectedText{
  margin: 0 auto;
  margin-bottom: 0.5em;
  padding: 4px 1em;
  width: fit-content;
  max-width: 28vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: ghostwhite;
  border: 1px solid gainsboro;
  border-radius: 4px;
}

.translate-panel-nav-wrapper{
  position: absolute;
  top: 0;
  left: -.6em;
  padding: 16px 2px;
  padding-left: 4px;
  background-color: rgb(240, 248, 255);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* border-right: 1px dashed rgba(0,0,0,.1); */
  transition: width .3s ease, height .3s ease;
  font-size: 1.2em;
}

.translate-panel-nav-wrapper:hover p{
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}

.translate-panel-nav{
  width: 0;
  height: 0;
  opacity: 0;
}

.translate-panel-nav-wrapper:hover .translate-panel-nav{
  padding: 0 8px;
  opacity: 100%;
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: .5em;
  flex-direction: column;
  line-height: 1;
}

.translate-panel-nav > *{
  cursor: pointer;
  padding: 0;
  margin-top: 3px;
}

.translate-panel-control{
  top: 1em;
  right: 1em;
  gap: .2em;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tr-close-btn{
  cursor: pointer;
  font-size: 1.25em;
  line-height: 1;
  height: .8em;
}

.tr-resize-control{
  display: flex;
  flex-direction: column;
}

#tr-size-increase-btn, #tr-size-decrease-btn{
  cursor: pointer;
  font-size: 1.25em;
  transition: all .3s ease;
  line-height: 1;
}

#tr-size-increase-btn:hover{
  opacity: .8;
  transform: scale(1.1);
}

#tr-size-decrease-btn:hover{
  opacity: .8;
  transform: scale(.9);
}

#tr-bank-controls{
  margin: 0;
  padding: 0;
}

#tr-bank-controls::before{
  content: "";
  border-top: 1px dashed rgba(0,0,0, .5);
  display: block;
  padding-top: 8px;
}

.tr-bank{
  width: 1.1em;
  filter: brightness(0) saturate(100%) invert(21%) sepia(40%) saturate(4988%) hue-rotate(265deg) brightness(61%) contrast(129%);
  margin-left: 4px;
  display: block;
  padding: 0;
  margin: 0;
  margin-left: 2px;
}

.tr-bank-delete-confirm{
  animation: rotateAndScale 1.5s infinite;
  animation-timing-function: ease-in;
  filter: brightness(0) saturate(100%) invert(10%) sepia(98%) saturate(4445%) hue-rotate(287deg) brightness(75%) contrast(112%);
}

#tr-show-bank{
  width: 1.3em;
  margin: 0;
}

.translate-results{
  margin: auto;
  width: 100%;
  display: grid;
  max-height: 80vh;
}

.translate-header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: transparent;
  border: none;
  gap: 8px;
  margin-bottom: 0;
  font-size: 1em;
}

.translate-header > *{
  text-align: center;
}

.translate-header > span{
  grid-row: 1/2;
  grid-column: 1/3;
  font-size: 1em;
  line-height: 1;
  margin-bottom: 2px
}

.translation-definitions{
  font-size: 1em;
  max-height: 16vh;
  overflow: auto;
  margin-bottom: 8px;
}

#translation-panel ul{
  font-size: 1em;
  margin: 0;
  padding: 0;
  padding-left: .25em;
}

#translation-panel ul li{
  list-style: disc inside;
  line-height: 1.25;
}

/* Styling for the first row */
.translate-header > small {
  font-size: .6em;
  color: gray;
  line-height: 1;
}

/* Styling for the second row */
#trans-simp-char, #trans-trad-char {
  background-color: ghostwhite;
  font-weight: bold;
  margin: 0 -8px;
  padding: 4px 16px;
  border-radius: 8px;
  font-size: 1.65em;
}

#trans-trad-char{
  border-right: none;
}

#trans-simp-char{
  border-left: none;
}

.translate-results li{
  list-style: decimal;
}

.translate-pinyin{
  margin: auto;
}

.tr-nav-disabled{
  opacity: 20%;
}

.trans-control{
  width: fit-content;
  margin-left: auto;
  display: flex;
  gap: 4px;
  align-items: center;
}

.translate-no-compounds{
  color: rgba(0,0,0,.35);
  margin: auto;
  text-overflow: ellipsis;
}

.translate-compounds-container{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
  max-height: 70vh;
}

.translate-compounds-container > div:first-child{
  max-height: calc(24vh + 4em);
}

.translate-compounds-container > div:first-child .translate-comp-entry-container{
  max-height: 24vh;
}

.translate-compounds{
  max-height: 20vh;
}
.translate-comp-entry-container{
  display: flex;
  gap: .3em;
  padding-right: 2px;
  flex-wrap: wrap;
  max-height: 14vh;
  overflow-y: auto;
  padding: 6px 0;
}

.translate-comp-entry-container::-webkit-scrollbar, 
.translation-definitions::-webkit-scrollbar, 
.sentences-body::-webkit-scrollbar,
.translate-compounds-container::-webkit-scrollbar
{
  width: 8px;
}

.translate-comp-entry-container::-webkit-scrollbar:hover, 
.translation-definitions::-webkit-scrollbar:hover, 
.sentences-body::-webkit-scrollbar:hover,
.translate-compounds-container::-webkit-scrollbar:hover
{
  cursor: pointer;
}

.translate-comp-entry-container::-webkit-scrollbar-thumb, 
.translation-definitions::-webkit-scrollbar-thumb, 
.sentences-body::-webkit-scrollbar-thumb,
.translate-compounds-container::-webkit-scrollbar-thumb
{
background: rgb(192,192,192);
border-radius: 4px;
opacity: 85%;
}

.translate-comp-entry-container::-webkit-scrollbar-track, 
.translation-definitions::-webkit-scrollbar-track, 
.sentences-body::-webkit-scrollbar-track,
.translate-compounds-container::-webkit-scrollbar-track
{
border-radius: 10px;
background: rgb(232,232,232);
opacity: 85%;
}

.translate-comp-definitions{
  display: none;
  position: absolute;
  right: 0;
  background-color: aliceblue;
  border: 1px solid rgba(180,185,192, .7);
  color: #414;
  border-radius: 5px;
  padding: 8px;
  margin-top: 8px;
  text-wrap: pretty;
  list-style-type: circle;
  list-style-position: inside;
}

.translate-comp:hover .translate-comp-definitions{
  display: block;
}

.translate-comp span{
  font-size: 1em;
  background-color: ghostwhite;
  border: 1px solid #cc99cccc;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

.translate-comp span.translate-propernoun{
  border: 1px dashed  royalblue;
  background: aliceblue;
  color: navy;
}

.translate-comp span.compound-isHSK{
  border-radius: 12px;
  border-color: mediumpurple;
}


.translate-comp span:hover{
  background-color: #eef;
}
/* Explore bar */
.translation-explore{
  width: 100%;
}
.translation-explore-panels{ 
  display: flex;
  justify-content: center;

}
.translation-explore-controls{
  display: flex;
  gap: 6px;
  border-bottom: 1px solid silver;
  margin-bottom: 8px;
}

.translation-explore-controls button{
  background-color: transparent;
  border: none;
  background-image: none;
  margin-bottom: 2px; 
  outline: none;
  color: indigo;
  font-size: 1em;
  line-height: 1;
}

.translation-explore-controls button:nth-child(2){
  padding-left: 6px;
  border-left: 1px solid silver;
  margin: 4px 0;
  line-height: 0;
}

/* Stroke order*/
.translate-stroke-order{
  max-width: 200px;
  max-height: 200px;
}

/* Example sentences */
.translate-sentences {
  flex: 1;
}
.translate-sentences .sentences-body{
  overflow-y: auto;
  padding: 2px;
  max-height: 24vh;
  overflow-x: hidden;
}
.translate-sentences .sentences-block{
  display: flex;
  flex-direction: column;
  margin-bottom: .5em;
  border-bottom: 1px dashed silver;
}

.translate-sentences .sentences-pinyin{
  font-size: 1em;
  text-align: center;
}

.translate-sentences .sentences-words{
  font-size: 1.15em;
  text-align: center;
}

.translate-sentences .sentences-line{
  display: flex;
  gap: 3px;
  padding-right: 2px;
  flex-wrap: wrap;
}

.translate-sentences .sentences-english-tr{
  font-size: 1em;
  font-style: italic;
  margin-bottom: 2px;
}
.translate-sentences .sentences-more{
  font-size: 1em;
  color: indigo;
}

.translate-sentences .sentences-attribution{
  margin-top: 4px;
  font-size: .7em;
  color: silver;
}


.sentences-control{
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}

.sentences-control > div{
  display: flex;
  gap: 4px;
  align-items: center;
}
.sentences-control label{
  font-size: .7em;
  margin: 0;
  font-weight: normal;
}

.sentences-control input{
  margin: 0;
}
.sentences-no-results{
  color: rgba(0,0,0,.35);
}


/* --- Resizing styles --- */
.translation-definitions{
  grid-area: definitions;
}

.translate-compounds-container{
  grid-area: compounds;
}

.trans-control{
  grid-area: control;
}

.translation-explore{
  grid-area: explore;
}

.translate-results{
  grid-template-areas: "definitions" "control" "compounds" "explore";
}

#translation-panel.translation-panel-expand .translate-results, 
#translation-panel.translation-panel-expand-2 .translate-results{
  grid-template-areas: 
  "definitions compounds"
  "control compounds"
  "explore compounds";
  column-gap: 32px;
  grid-template-columns: 1fr 1fr;
}

#translation-panel.translation-panel-expand .skew-compound-container, 
#translation-panel.translation-panel-expand-2 .skew-compound-container{
  grid-template-columns: 1fr 2fr;
}


#translation-panel.translation-panel-expand .translate-comp-entry-container, 
#translation-panel.translation-panel-expand-2 .translate-comp-entry-container{
  max-height: initial;
}

#translation-panel.translation-panel-expand .translate-compounds-container, 
#translation-panel.translation-panel-expand-2 .translate-compounds-container{
  overflow: auto;
  margin-right: .85em;
}

.tr-reduced-size-5{
  font-size: 1.5em;
}

.tr-reduced-size-6{
  font-size: 1.2em;
}

.tr-reduced-size-max{
  font-size: 1em;
}

#translation-panel.translation-panel-expand{
  max-width: 36vw;
  font-size: 20px;
  width: fit-content;
}

#translation-panel.translation-panel-expand h3{
  padding-bottom: 4px;
}

#translation-panel.translation-panel-expand .translation-definitions{
  max-height: 24vh;
}

#translation-panel.translation-panel-expand .translate-comp{
  margin: 2px 0;
}

#translation-panel.translation-panel-expand .translation-explore-panels{
  justify-content: flex-start;
}

#translation-panel.translation-panel-expand .translation-definitions{
  max-height: 25vh;
}

#translation-panel.translation-panel-expand .sentences-body{
  max-height: 30vh;
}


#translation-panel.translation-panel-expand .translate-stroke-order{
  max-height: 256px;
  max-width: 256px;
}

#translation-panel.translation-panel-expand .translate-sentences .sentences-line{
  gap: 4px;
}

#translation-panel.translation-panel-expand .translate-selectedText{
  max-width: 34vw;
}

#translation-panel.translation-panel-expand .translate-compounds, #translation-panel.translation-panel-expand-2 .translate-compounds{
  max-height: none;
}

/* Even biggerr */
#translation-panel.translation-panel-expand-2{
  max-width: 55vw;
  font-size: 24px;
  width: fit-content;
}

#translation-panel.translation-panel-expand-2 .translate-stroke-order  {
  max-height: 288px;
  max-width: 288px;
}

#translation-panel.translation-panel-expand-2 .translation-definitions{
  max-height: 30vh;
}

#translation-panel.translation-panel-expand-2 .sentences-body{
  max-height: 35vh;
}

#translation-panel.translation-panel-expand-2 .translate-selectedText{
  max-width: 45vw;
}
/* ------- */