#translation-panel{
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1rem calc(1rem + 20px);
  color: indigo;
  background-color: aliceblue;
  border-radius: 10px;
  z-index: 9999;
  min-width: 200px;
}

.translate-selectedText{
  margin: 0 auto;
  margin-bottom: 0.5rem;
  padding: 4px 1rem;
  width: fit-content;
  max-width: 400px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: ghostwhite;
  border: 1px solid gainsboro;
  border-radius: 4px;
}

.close-btn{
  cursor: pointer;
  font-size: 1rem;
  position: absolute;
  top: 20px;
  right: 20px
}

.translate-results{
  margin: auto;
}

.translate-header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: transparent;
  border: none;
  gap: 8px;
}

.translate-header > *{
  text-align: center;
}

/* Styling for the first row */
.translate-header > small {
  font-size: x-small;
  color: gray;
}


/* Styling for the second row */
.translate-header > div:nth-child(3), .translate-header > div:nth-child(4) {
  background-color: ghostwhite;
  margin: 0 -8px;
  padding: 4px 16px;
  border-radius: 8px;
}

.translate-header > div:nth-child(3){
  border-right: none;
}

.translate-header > div:nth-child(4){
  border-left: none;
}

.translate-results li{
  list-style: decimal;
}

.translate-pinyin{
  margin: auto;
}

.tr-nav-disabled{
  opacity: 20%;
}